<%= form_for(@wiki) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
  </div>
  <%= f.label :body %>
  <%= f.text_area :body, rows: 8, class: 'form-control' %>
  <% if @user.upgraded? && @wiki.user == current_user %>
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  <% end %>
</br>
  <div class="actions">
    <%= f.submit "Update Wiki", class: 'btn btn-success' %>
  <%= f.submit "Delete Wiki", class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> </div>

<% end %>