<h1>Editing wiki</h1>

<%= render 'form' %>
</br>
<% if @wiki.joint? %>
<h4><u> Current Wiki Collaborators </u></h4>
<table><thead>
    <tr>
      <th>User</th>
      <th> Day Added </th>
      <th colspan="<%= @colspan %>"></th>
    </tr>
  </thead>
   <tbody>
      <%= render @collaborators %>
      </tbody>
</table>
<% end %>
<% if @wiki.can_be_collaboration? && @wiki.user == current_user %>
<%= render "collaborators/form" %>
<% end %>
</br>
<%= link_to 'Back to Wiki', wiki_path(@wiki) %> |
<%= link_to 'Back to My Wikis', wikis_my_index_path %>
     
   
 