<h2> Working Wiki </h2>
<p>
  <strong>Name:</strong>
  <%= markdown(@wiki.title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
  </p>
<% if @wiki.joint? %>
<h4><u> Collaborators </u></h4>
<table><thead>
    <tr>
      <th>User</th>
    </tr>
  </thead>
   <tbody>
      <%= render @wiki.collaborators %>
      </tbody>
</table>
<% end %>
</br>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>