<h2> Working Wiki </h2>
<div class='wiki_mark'>
  <strong>
  <% if !@wiki.private %>
    Public Wiki
  <% else %>
    Private Wiki
  <% end %>
  </strong>
</div>
  
</br>
<p>
  <strong>Name:</strong>
  <%= markdown(@wiki.title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
</p>
<p><div class='signature'> Created by: <%= @wiki.user.email %> <%= time_ago_in_words(@wiki.created_at) %> ago.</p></div>
<p><div class='signature'> Last Updated by: <%= @wiki.updater %> <%= time_ago_in_words(@wiki.updated_at) %> ago.</p></div>
<% if @wiki.has_collaborators? %>
  <h4><u> Current Wiki Collaborators </u></h4>
  <table><thead>
    <tr>
      <th>User</th>
      <th> Day Added </th>
      <th colspan="<%= @colspan %>"></th>
    </tr>
  </thead>
   <tbody>
      <%= render @wiki.collaborators %>
   </tbody>
  </table>
<% end %>
<% if user_signed_in? %>
  </br>
  <%= link_to 'Edit Wiki', edit_wiki_path(@wiki) %> |
<% end %>
<%= link_to 'Back', :back %> 
