<h2> Working Wiki </h2>
<p>
  <strong>Name:</strong>
  <%= markdown(@wiki.title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
  </p>
<% if @wiki.joint? %>
<%= render @wiki.collaborators %>
<% end %>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>